:root {
  --cyan:hsl(179, 43%, 74%);
  --cyandark:hsl(179, 62%, 43%); 
  --yellow: hsl(71, 73%, 54%);
  --grey: hsl(204, 43%, 93%);
  --greyblue: hsl(218, 22%, 67%);
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--grey);
  font-family:  'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 1140px;
  margin: 10rem auto;
}

/* Containers  */

.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
 
  width: 640px;
  height: 480px;
  margin: 0 auto;
}

.top-container {
  padding: 40px;
}

.bottom-container {
  display: flex;
  align-content: flex-end;
  flex-direction: row;
  height: 260px;
}

.left-container {
  background-color: var(--cyandark);
  flex-grow: 2;
  padding: 40px;
}

.right-container {
  background-color: var(--cyan);
  flex-grow: 2;
   padding: 40px;
}