:root {
  --cyan:hsl(179, 43%, 55%);
  --cyandark:hsl(179, 62%, 43%); 
  --yellow: hsl(71, 73%, 54%);
  --grey: hsl(204, 43%, 93%);
  --greyblue: hsl(218, 22%, 67%);
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--grey);
  font-family:  'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 1140px;
  margin: 10rem auto;
}

/* Containers  */

.container {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
 
  width: 660px;
  height: 490px;
  margin: 0 auto;
}

.top-container {
  padding: 40px;
}

.bottom-container {
  display: flex;
  align-content: flex-end;
  flex-direction: row;
  height: 270px;
}

.left-container {
  color: #fff;
  background-color: var(--cyandark);
  border-bottom-left-radius: 10px;
  
  padding: 40px;
}

.right-container {
  color: #fff;
  background-color: var(--cyan);
  border-bottom-right-radius: 10px;
  flex-grow: 2;
  padding: 40px;
}

/* Top-container */

.main-heading {
  color: var(--cyandark);
  font-size: 24px;
}

.yellow-heading {
  color: var(--yellow);
  margin: 30px 0 17px;
}

.description {
  color: var(--greyblue);
  margin-top: 5px;
}

/* Left-container */


.price {
  display: inline-block;
  font-size: 32px;
  font-weight: 400;
  margin: 20px 10px 10px 0;
}

.month {
  color: var(--grey);
}

.sign-up {
  color: #fff;
  background-color: var(--yellow);
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.1);
  font-size: 16px;
  padding: 15px 95px;
  margin-top: 30px;
  transition: all 200ms ease-in-out;
}

.sign-up:hover {
  cursor: pointer;
  background-color: hsl(71, 63%, 54%);
}

/* Right-container */

.list {
  list-style-type: none;  
  padding-top: 15px;
}

.list li {
  color: var(--grey);
  font-size: 13px;
  padding-top: 6px;
}

/* Footer */

.attribution  {
  color: var(--greyblue);
  font-size: 13px;
  text-align: center;
  margin: 30px auto;
}

.attribution a {
  color: var(--greyblue);
  text-decoration: none;
}

.attribution a:hover {
  color:  hsl(218, 22%, 40%);
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    font-size: 13px;
    width: 320px;
    margin: 4rem auto;
  }

  /* Containers  */

  .container {
    border-radius: 5px;
    width: 310px;
    height: 725px;
  }

  .top-container {
    padding: 30px;
  }

  .bottom-container {
    align-content: none;
    flex-direction: column;
  }

  .left-container {
    border-bottom-left-radius: 0;
    padding: 30px;
  }

  .right-container {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px;
  }

  /* Top-container */

  .main-heading {
    font-size: 18px;
  }

  .description {
    display: inline;
    line-height: 1.8;
  }

  /* Left-container */

  .price {
    font-size: 30px;
    margin: 15px 5px 10px;
  }

  .month {
    color: var(--grey);
  }

  .sign-up {
    font-size: 14px;
    padding: 15px 100px;
  }
}